local/data/thetas/* filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.1k.thetas.era.hig.para.west.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.delta.pi.hig.vlo.era.para.east.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/thetas.era.hig.pop.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/thetas.mel.all.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/thetas.mel.hig.vlo.pop.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/era.theta.subpop.folded.means.table.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.thetas.era.hig.para.east.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.1k.thetas.era.hig.para.east.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.thetas.mel.hig.para.east.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.thetas.mel.hig.para.west.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.delta.pi.hig.vlo.era.para.west.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/thetas.era.all.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/mel.theta.subpop.folded.means.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.pi.mel.all.alt.wide.para.east.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.pi.mel.all.alt.wide.para.west.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.thetas.era.hig.para.east.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.1k.thetas.mel.hig.para.east.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.1k.thetas.mel.hig.para.west.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.delta.pi.hig.low.or.vlo.mel.para.east.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.thetas.era.hig.para.west.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/sim.delta.pi.hig.low.or.vlo.mel.para.west.summ.summ.df.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/thetas.era.hig.vlo.pop.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/thetas.mel.hig.pop.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/era.theta.subpop.folded.means.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.pi.era.all.alt.wide.para.east.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
local/data/thetas/shdr.pi.era.all.alt.wide.para.west.summ.summ.csv filter=lfs diff=lfs merge=lfs -text
